<html layout:decorate="~{layouts/layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" id="dataForm">
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" name="subject" id="subject" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <button id="btn_submit" type="button" class="btn btn-primary my-2">저장하기</button>
    </form>
</div>
<th layout:fragment="script">
    <script th:src="@{/website/js/script_board_create.js}"></script>
</th>
</html>

